# If you're going to use Vercel, use their
# UI to add environmental variables. This
# file is unnecessary!

# Spotify Application
SPOTIFY_CLIENT_ID=application_id
SPOTIFY_CLIENT_SECRET=application_secret

# Spotify User
SPOTIFY_REFRESH_TOKEN=your_refresh_token

# Chess.com
CHESS_COM_USERNAME=your_username

# Security
STATE=some_random_string

# Environment
# Disables and enables authorization endpoints.
NODE_ENV=development/production